{% extends 'base.html' %}

{% block title %}
  registrati - Locanda Mandelli
{% endblock %}

{% block content %}

<header class="page-header">
	<div class="container">
	<h1 class="lobster-two-bold-italic">Locanda Mandelli</h1>
	</div>
</header>

<div class="container">
	<div class="row bg-light" >
  		<div class="col">
  			<br>
			<h3>PRIVACY POLICY</h3>
  			<p>Informativa ai sensi del Regolamento Europeo sulla Protezione dei Dati n. 679/2016
			Questa pagina descrive le modalità con cui   con sede   – P.I.   , in qualità di Titolare del trattamento, raccoglie e tratta i tuoi dati personali tramite questo sito.
<br>
			L’attenzione per la riservatezza, il carattere confidenziale e la protezione dei dati personali degli utenti rappresentano un nostro preciso impegno aziendale.
			Infatti, trattiamo i tuoi dati personali con la massima cura e in conformità con le normative applicabili in materia di privacy e sicurezza (in particolare il Regolamento Generale sulla Protezione dei Dati UE 679/2016).
<br><br>
			<b>QUALI DATI RACCOGLIAMO E TRATTIAMO?</b>
<br>
			I dati personali che trattiamo sono le informazioni che tu decidi volontariamente di fornirci, a fronte di una richiesta di contatto o per rivolgerci una domanda.
			Quando invii una richiesta tramite apposito form ti inviteremo a fornirci dei dati identificativi e di contatto (come ad esempio nome, cognome, email, numero di telefono) per gestire al meglio la tua necessità e darti agevolmente un riscontro.
			I dati personali possono essere anche di natura sensibile, a seconda delle informazioni che deciderai di rilasciare all’interno del form di contatto o tramite l’invio volontario di documentazione accompagnatoria alla tua richiesta.  A tutela dei tuoi diritti e delle tue libertà ti chiediamo di non rilasciare informazioni sensibili o inviare file che possano risultare eccedenti rispetto a quanto per noi necessario ad espletare la tua richiesta.
<br><br>
			<b>PER QUALI FINALITÀ UTILIZZIAMO I TUOI DATI</b>
<br>
			Lo scopo principale è fornirti la possibilità di metterti in contatto con noi e soddisfare una tua specifica richiesta, inviarti contenuti informativi a riguardo e/o consentirti di accedere ai servizi scelti.
<br>
			Il conferimento dei dati è facoltativo, tuttavia il rifiuto a rilasciare i propri dati per tale finalità comporta l’impossibilità per noi di gestire la tua richiesta e soddisfare le tue necessità.
			Previo consenso libero ed espresso, i tuoi dati di contatto potranno essere utilizzati per inviarti comunicazioni promozionali, newsletters ed email informative riguardo i nostri servizi/prodotti o in merito ad informazioni di carattere generale. Il conferimento dei dati per finalità di marketing è facoltativo, il rifiuto non comporta alcuna conseguenza, salvo l’impossibilità di ricevere materiale promozionale. Il consenso per tale trattamento si intende espresso tramite il “flag” dell’apposita casella posta all’interno del modulo per l’invio dei dati. Puoi revocare il tuo consenso e rifiutarti di ricevere ulteriori comunicazioni promozionali in ogni momento scrivendoci all’indirizzo email info@mossiniauto.com
<br><br>
			<b>COME PROTEGGIAMO I TUOI DATI?</b>
<br>
			Il trattamento dei dati avviene mediante strumenti prevalentemente automatizzati e per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti. Le misure di sicurezza adeguate, così come previste dal Regolamento (UE) 2016/679 sulla Protezione dei Dati Personali, sono osservate per prevenire la perdita dei dati, gli usi illeciti o non corretti e gli accessi non autorizzati.
<br><br>
			<b>A CHI COMUNICHIAMO I TUOI DATI?</b>
<br>
			I dati che invierai tramite il presente sito saranno condivisi e/o comunicati esclusivamente alla società che gestisce il sito internet e i relativi sistemi ad esso connessi.
<br><br>
			<b>LINK AD ALTRI SITI WEB</b>
<br>
			Questo Sito può contenere riferimenti o collegamenti (“link”) ad altri siti internet non controllati da noi e rispetto ai quali queste norme sulla Privacy non sono applicabili. Non siamo quindi responsabili per il contenuto o per gli eventuali trattamenti di dati personali effettuati in tali siti. Ti consigliamo di esaminare l’informativa di ogni sito collegato al presente per individuare il possibile trattamento di dati personali.
<br><br>
			<b>QUALI SONO I TUOI DIRITTI?</b>
<br><br>
			Ai sensi del Regolamento EU 679/2016, ti sono riconosciuti i seguenti diritti:
			il diritto di chiedere al Titolare del trattamento l’accesso ai dati personali (art. 15), la rettifica (art. 16), la cancellazione degli stessi o l’oblio (art. 17), la limitazione del trattamento dei dati personali (art. 18), il diritto alla portabilità dei dati (art. 20) o di opporsi al loro trattamento (art. 21), oltre al diritto di non essere sottoposto a una decisione basata unicamente sul trattamento automatizzato, compresa la profilazione, che produca effetti giuridici che la riguardano o che incida allo stesso modo significativamente sulla sua persona (art. 22).
<br>
			Le richieste potranno essere esercitate nei confronti di:
<br>
			<br>Stark srls
			<br>Viale delle Industrie, 8
			<br>Partita IVA: 04532760164 
			<br><a href="mailto:Locandamandelli@gmail.com">Locandamandelli@gmail.com</a>
<br>
			Ti è altresì riconosciuto il diritto di proporre reclamo all’autorità di controllo preposta (art. 77 del Regolamento) qualora ritieni che il trattamento effettuato da parte del Titolare non sia conforme.
<br><br>
			<b>MODIFICHE ALLE NORME SULLA PRIVACY</b>
<br>
			Il Sito, il suo contenuto e le presenti norme sulla Privacy possono essere periodicamente aggiornate o modificate senza preavviso. Eventuali modifiche alla seguente informativa influiranno sul trattamento dei dati raccolti in seguito alla modifica stessa.
			Ti preghiamo dunque di prendere periodicamente visione delle eventuali modifiche sulla Privacy.
<br>
			La presente policy è aggiornata a Luglio 2020.
<br>
			</p>
<br>
			<h3>COOKIE POLICY</h3>
			<p>
			La presente cookie policy riguarda l’utilizzo dei cookie ed è rivolta agli utenti che consultano questo sito.
<br><br>
			<b>A COSA SERVONO I COOKIE?</b>
<br><br>
			I cookie sono piccole stringhe di testo scambiate tra un sito web e il browser di navigazione dell’utente, ogni volta che si accede ad un sito Internet. I cookie sono utilizzati per differenti finalità, quali ad esempio consentire le autenticazioni informatiche, tenere traccia delle sessioni di navigazione dell’utente, migliorare la navigabilità del sito stesso, raccogliere e memorizzare varie informazioni riguardanti le preferenze e le scelte degli utenti, etc.
<br><br>
			<b>QUALI COOKIE UTILIZZIAMO?</b>
<br><br>
			I cookie in uso si suddividono in relazione alla provenienza e alla proprietà del cookie stesso: possono essere di prima parte (rilasciati dal presente sito web) o di terze parti (rilasciati da un sito web diverso per servizi forniti da terzi).
			In riferimento al provvedimento generale dell’Autorità Garante della Privacy (GU n. 126 del 3 giugno 2014) questo sito web utilizza i seguenti cookie:
<br><br>
			<b>COOKIE TECNICI</b>
<br><br>
			Questa tipologia di cookies è essenziale per consentire agli utenti di navigare sul sito web e utilizzarne le funzioni. Sono conosciuti come cookies di “prima parte”. Senza di essi, servizi come l’abilitazione a mostrare contenuti appropriati rispetto al tipo di dispositivo utilizzato non sarebbero possibili.
<br><br>
			<b>COOKIES ANALITICI</b>
<br><br>
			Questi cookies forniscono informazioni circa il modo in cui i visitatori utilizzano il sito, così che noi possiamo analizzarne il traffico e capirne le modalità d’uso da parte degli utenti visitatori. Utilizziamo cookies rilasciati da terze parti proprio a tal scopo.
<br><br>
			Per scoprire di più sui Cookies analitici che utilizziamo o per bloccarne il funzionamento è
			possibile visitare i seguenti siti:
			Google Analytics https://support.google.com/analytics/answer/6004245
<br><br>
			<b>COOKIE DI PROFILAZIONE</b>
<br>
			Si tratta di cookies di terze parti che permettono di raccogliere le informazioni relative alle preferenze degli utenti mentre navigano in Internet, registrare quando gli annunci vengono visti, la reazione degli utenti e le loro conseguenti azioni e controllare il rendimento delle campagne.
			Per scoprire di più sui Cookies di profilazione che utilizziamo o per bloccarne il
			funzionamento è possibile visitare i seguenti siti:
			<br>Doubleclick https://support.google.com/dfp_premium/answer/2839090?hl=it
			<br>DoubleClick [Modalità di utilizzo] https://support.google.com/dfp_premium/answer/2839090?hl=it
			<br>Google https://www.google.com/intl/it/policies/technologies/types/
			<br>Google [Tipi di Cookie] https://www.google.com/intl/it/policies/technologies/types/
			<br>Google [ADS] https://www.google.it/settings/ads/onweb#display_optout
			<br>Facebook https://www.facebook.com/policy.php
			<br>Facebook [Data Policy] https://www.facebook.com/policy.php
<br><br>
			<b>SOCIAL MEDIA COOKIES</b>
<br>
			Questi cookies sono utilizzati per condividere informazioni sui social media attraverso i pulsanti di condivisione, link all’account dell’utente o interazioni con i contenuti del nostro sito per mezzo di social network come ad esempio Facebook. I social network
			registreranno le azioni di condivisione dell’utente. Queste informazioni potrebbero essere utilizzate per attività pubblicitarie e di profilazione.
			Per scoprire di più sui Social Media Cookies che utilizziamo o per bloccarne il funzionamento è possibile visitare i seguenti siti:
			<br>Facebook https://www.facebook.com/policy.php
			<br>Twitter https://help.twitter.com/it/rules-and-policies/twitter-cookies
			<br>LinkedIn https://www.linkedin.com/legal/cookie-policy
			<br>Instagram https://www.instagram.com/legal/cookies/
			<br>YouTube https://www.youtube.com/static?template=privacy_guidelines
<br><br>
			<b>COME IMPEDIRE L’IMPIEGO DEI COOKIE?</b>
<br>
			In riferimento ai Cookie di terza parte utilizzati dal sito, si rimanda alla politica del fornitore raggiungibile dai link sopra indicati per le informazioni circa la loro disabilitazione.
<br>
			Altro metodo per gestire i cookie è la modifica delle impostazioni del browser impiegato.
			La maggior parte dei browser internet, infatti, è configurata di default per accettare i cookie.
			È possibile tuttavia disabilitare il loro impiego o controllare quali di essi possano essere utilizzati o meno. Di seguito vengono riportati i link alle descrizioni sul come gestire i
			cookie sui più comuni web browser:
			<br>Google Chrome https://support.google.com/accounts/answer/61416?hl=it
			<br>Internet Explorer http://windows.microsoft.com/it-IT/internet-explorer/delete-manage-cookies#ie=ie-10
			<br>MozillaFirefox https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie
			<br>Safari https://support.apple.com/it-it/HT201265
			<br>Opera http://help.opera.com/Windows/10.00/it/cookies.html
			Ricordiamo agli utenti che disabilitare i cookie di navigazione o i cookie funzionali, può limitare il servizio da noi offerto o i contenuti del sito stesso.
<br><br>
			<b>MODIFICHE ALLE NORME SULLA PRIVACY</b>
<br>
			Il Sito, il suo contenuto e le presenti norme sulla Privacy possono essere periodicamente aggiornate o modificate senza preavviso. Eventuali modifiche alla seguente informativa influiranno sul trattamento dei dati raccolti in seguito alla modifica stessa. Si prega dunque di prendere periodicamente visione delle eventuali modifiche sulla Privacy.
<br>
			La presente Cookie Policy è aggiornata a Agosto 2024</p>
  				</div>
  			</div>
		</div>
{% endblock %}  
